* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
}

a {
	color: #333;
	color: #fca8a8;
}

body {
	/* overflow-y: hidden; */
	font-family: 'Inter';
	background-color: #faeaeacc;
}

.nav {
	font-family: 'Palanquin Dark', sans-serif;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 1.1em;
	padding: 1em;
	position: sticky;
	top: 0;
	z-index: 10;
	transition: .3s ease-in;
	/* width: 100%; */
	/* position: fixed; */
}

.nav.active {
	background-color: #faeaea;
	/* background-color: #facfcf; */
	box-shadow: 0 1px 10px #695757;
}

.nav a {
	text-decoration: none;
	/* display: flex; */
	align-items: center;
	/* justify-content: center; */
}

.navlinks {
	margin-left: auto;
	margin-right: 3em;
}

.navlinks a {
	margin: 0 2em;
}

.right {
	margin-left: auto;
	margin-right: 0.5em;
	display: flex;
	align-items: center;
}

.right * {
	margin: 0 0.4em;
}

.login {
	display: flex;
	align-items: center;
	margin-right: 3em;
	border: 2px solid #333;
}

.cart {
	margin-left: 1em;
}

.logo {
	font-size: 2rem;
	color: #e97777;
}

a.link.active {
	color: #e97777;
	border-bottom: 5px solid #e97777;
}

.icon--white path {
	color:#fff
}